node_modules/
build
npm-debug.log
.env
.DS_Store
dist
.idea/
**/*.DS_store
builds/
**/*.iml
.envrc
coverage/
.nyc_output/
doc/
postman/
*.cov
newrelic_agent.log
.terraform/
terraform.tfstate*
infrastructure/project-infrastructure/*.env
temp